@import 'menu';

.portada{
    background-image: url("../imagenes_home/portada.jpg");
    height: 80vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.subportada{
    background-image: url("../imagenes_home/coma.png");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 54vw;
        #sub{ 
                /* transform: scale(0.2); */
                margin-top: -1%;
                align-self: center;
                /* max-width: 100%; */
                height: auto;
                width: 15%;
        }
        #coma{
            align-self: center;
        }
}

.texto{
    color: white;
    margin-top: -6vw;
    margin-left: 6vw;
    margin-right: 45vw;
    font-family: gothamlight;
    @media only screen and (min-width: 1200px){
        font-size: 1.3vw;
    }
    #segtex{
        color: black;
        background-color: white;
    }
}

.telefono{
    background-image: url(../imagenes_home/telefono.jpg);
    height: 43vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-image: url("../imagenes_home/rombo.png"), url("../imagenes_home/linea.png");
    background-size: 1rem, contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.frases{
    display: flex;
    justify-content: space-around;
    font-family: gothamlight;
    height: 20vw;
    align-items: center;
    letter-spacing: 3px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        &:hover{
            .gato{
                opacity: 1;
            }
        }
        .gato{
            transition: all .5s ease;
            height: 10vw;
            opacity: 0;
        }
    }
    
}

#ficha2{
    background-image: url("../imagenes_home/ficha2.jpg")
}

.contenedor{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: gothamlight;
    .ficha{
        background-image: url(../imagenes_home/ficha1.jpg);
        height: 52vw;
        width: 70vw;
        background-size: cover;
        background-repeat: no-repeat;  
        display: flex;   
        flex-direction: column;
        justify-content: space-around;
        align-items: center;   
        .contenido{
            width: 57%;
            margin-top: 18%;
            font-size: 1.4vw;
        }
        .botones{
            a{
                text-decoration: none;
            }
            &:hover{
                .ojo{
                    content: url("../imagenes_home/ojo-rosa.svg");
                }
            }
            margin-top: 9%;
            .ojo{
                width: 5vw;
            }
            .cruz{
                width: 3vw;
                margin-left: 5px;
            }
        }
    }
}

.boton{
    color: #666666;
    border: 1px solid #666666;
    padding: .6rem 1.6rem;
    transition: all 0.5s ease;
    text-decoration: none;
    background-color: white;
    &:hover{
        color: $rosa;
    }
}
